
@{
    ViewBag.Title = "Home";
}

<p>A CRUD app is a specific type of software application that consists of four basic operations; Create, Read, Update, Delete.</p>
<p>
    At a high level, CRUD apps consist of three parts;
    <ul>
        <li>the database</li>
        <li>user interface</li>
        <li>and APIs</li>
    </ul>


